<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css"/>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>
    <h1 id="autometalogolex">About Autometalogolex</h1>
    <a href="/">Index</a>
    <hr id="line">
    <pre id="about">
        {<br/>
            &#9;"contacts": {<br/>
                &#9;&#9;"telegram": "<a href="https://t.me/fakefred">fakefred</a>",<br/>
                &#9;&#9;"email": "fakefred@protonmail.ch",<br/>
                &#9;&#9;"github": "<a href="https://github.com/fakefred">fakefred</a>",<br/>
                &#9;&#9;"irc": "fakefred on foonetic",<br/>
                &#9;&#9;"reddit": u/fakefred0",<br/>
            &#9;},<br/>
            &#9;"about": {<br/>
                &#9;&#9;"likes": ["geek humor", "xkcd", "FOSS", "Node.js", "sci-fi", "(GNU/)Linux", "Manjaro Linux", "KDE Plasma", "Frequently trying new distros"],<br/>
                &#9;&#9;"dislikes": ["terrorists", "spell check", "M$ Windows", "moderators who ban people without warning", "bugs in code", "bugs irl", "misident"]<br/>
            &#9;}<br/>
        }
    </pre>
    <footer id="footer">
        <p id="license">Original works on this site are licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
    </footer>
</body>
</html>