<!doctype html>
<html>
<head>
    <title>Archive</title>
    <link rel="stylesheet" href="/css/archive.css"/>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>
    <h1 id="autometalogolex">Autometalogolex Archive</h1>
    <a href="/">Index</a>
    <hr id="line">
    <div id="archive">
        {{#each comic}}
            {{{this}}}
        {{/each}}
    </div>
    <footer id="footer">
        <p id="license">Original works on this site are licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
    </footer>
</body>
</html>