body {
    font-size: 24px;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
}

#about {
    text-align: left;
    left: 16px;
    font-family: 'Noto Mono', 'Ubuntu Mono', 'Courier New', monospace;
    font-size: 16px;
    line-height: 80%;
}

#license {
    font-size: 16px;
    color: gray;
}